<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <%= wicked_pdf_stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css", media: "all" %>
    <%= wicked_pdf_javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" %>
    <%= wicked_pdf_javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" %>
    <%= wicked_pdf_javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js" %>
  </head>

  <body onload="number_pages()">
    <div id="content">
      <%= yield %>
    </div>
  </body>

  <!-- page numbering -->
  <script>
    function number_pages() {
      var vars = {};
      // var x    = ["page-break"];
      var x    = document.location.search.substring(1).split('&');

      for (var i in x) {
        var z      = x[i].split('=', 2);
        vars[z[0]] = decodeURIComponent(z[1]);
      }

      var x = ['frompage', 'topage', 'page',' webpage', 'section', 'subsection', 'subsubsection'];

      for (var i in x) {
        var y = document.getElementsByClassName(x[i]);
        for (var j = 0; j < y.length; ++j) y[j].textContent = vars[x[i]];
      }
    }
  </script>
</html>
